{% extends 'base.html' %}

{% block title %}EYL.com{% endblock %}

{% block content %}
    <div class="finance-container">
        <h2>Turning Point: The Story of Jamie</h2>
        <p>
            Jamie, a 22-year-old college student, juggled a full-time course load and a part-time job at a local café. Despite the constant hustle, Jamie struggled to make ends meet, often resorting to credit cards to cover unexpected expenses. 
            A wake-up call came when she received several overdrawn account notice, prompting Jamie to seek help. Jamie learned of EYL and decided to take control of her finances.
            Jamie categorized expenses, prioritized high-interest debt repayment, built an emergency fund, and started investing. 
            Over two years, Jamie transformed from financial chaos to stability and growth, eliminating high-interest debt, curbing impulsive spending, and creating a secure financial future.
        </p>
    </div>

    <div class="about_us-container">
        <h2>About Us</h2>
        <p>
            We at EYL are a financial literacy group dedicated to helping individuals take control of their finances and achieve financial success. Our platform offers a range of tools and resources, including budgeting, debt repayment, savings, and investment tools, to empower users to make informed financial decisions and improve their financial well-being. Whether you are struggling with debt, looking to save for the future, or seeking to grow your wealth through investments, EYL provides the tools and guidance you need to turn your financial chaos into success.
        </p>
    </div>
    <div class="newsletter-container">
        <h2>Stay Up to Date on Finance News</h2>
        <form id="newsletter_form" action="/subscribe" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            <br>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <button type="submit">Subscribe</button>
        </form>
    </div>
{% endblock %}
