<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .toast {
            background-color: #c2c2c2;  
        }
    </style>
    <title>Sign Up</title>
</head>
<body>
    <div class="userdatasignup-container">
        <form action="{{ url_for('signup') }}" method="post" onsubmit="return validatePassword()">
            <h2>Create Your Account</h2>
            {{ form.csrf_token }}
            <div class="form_group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            <br>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            <br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            <br>
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            <br>
            <button type="submit">Sign Up</button>
        </form>
    </div>

</body>
</html>